/* header */

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 0px 120px;
}

.header-logo {
    color: floralwhite;
    font-size: 24px;
}

.header-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.header-list li a {
    color: floralwhite;
    padding: 8px;
    text-decoration: none;
}


/* container 1 below */

.container-one {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    padding: 40px 120px;
    gap: 25px;
    height: 600px;
}

h1 {
    padding: none;
    margin: none;
}

.in-container-one {
    display: flex;
    flex-direction: column;
    color: floralwhite;
    background-color: #1f2937;
    font-size: 40px;
    height: 600px;
}

.subtext {
    font-size: 25px;
    color: gainsboro;
}

.top-pic {
    display: flex;
}


/* Image by <a href="https://pixabay.com/users/erik_karits-15012370/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=6673562">Erik Karits</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=6673562">Pixabay</a> */


/* Image by <a href="https://pixabay.com/users/mlaranda-1375673/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2569202">MLARANDA</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2569202">Pixabay</a> */


/* Image by <a href="https://pixabay.com/users/a_different_perspective-2135817/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1728218">A_Different_Perspective</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1728218">Pixabay</a> */


/* Image by <a href="https://pixabay.com/users/capri23auto-1767157/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2702303">Capri23auto</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2702303">Pixabay</a> */


/* Image by <a href="https://pixabay.com/users/richardmiddelbos-15362183/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4873359">Richard Middelbos</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4873359">Pixabay</a> */


/* winking owl is Image by <a href="https://pixabay.com/users/ewasztajnic-16488656/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5157295">ewa ledeboer</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5157295">Pixabay</a> */


/* great grey owl Image by <a href="https://pixabay.com/users/rethinktwice-1369537/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=6516599">Rethinktwice</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=6516599">Pixabay</a> */

button {
    display: flex;
    height: 45px;
    width: 125px;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    color: floralwhite;
    padding: 5px 30px;
    border-radius: 15%;
    border: none;
}


/* container 2 below */

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-style: bold;
    font-weight: bolder;
}

.image-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.image-list li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}


/* container-three below */

.container-three {
    background-color: #e5e7eb;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.author {
    display: flex;
    flex-direction: row-reverse;
    font-size: 25px;
    font-weight: bold;
}


/* container four below */

.container-four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.small-container {
    display: flex;
    background-color: #3882f6;
    color: floralwhite;
    padding: 25px 50px;
    border-radius: 3%;
    gap: 100px;
}

.sign-up-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-button button {
    border: 2px solid #e5e7eb;
}

.footer {
    background-color: #1f2937;
    color: floralwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
}